---
title: Default title
---
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Alpine JS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class=" bg-myLightGray text-myBlack font-Asap">
    <!-- *Navbar -->
    <header class="text-gray-600 body-font bg-myGreen fixed w-full shadow-lg z-50" x-data="{isOpen : false}">
        <div class="container mx-auto flex flex-wrap p-5 flex-row items-center justify-between">
            <a href="/" class="flex title-font font-medium items-center text-gray-900">
                <img src="./img/logo.png" alt="Compette">
            </a>
            <svg @click="isOpen = true" class="cursor-pointer h-6 w-6 fill-current text-white md:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <nav class="md:ml-auto md:flex flex-wrap items-center text-base justify-center hidden">
                <a href="/" class="mr-5 text-myGray hover:text-myYellow transition duration-200 border-b border-myGreen hover:border-myYellow">Learn</a>
                <a href="/" class="mr-5 text-myGray hover:text-myYellow transition duration-200 border-b border-myGreen hover:border-myYellow">Categories</a>
                <a href="/" class="mr-5 text-myGray hover:text-myYellow transition duration-200 border-b border-myGreen hover:border-myYellow">Stories</a>
                <a href="/" class="mr-5 text-myGray hover:text-myYellow transition duration-200 border-b border-myGreen hover:border-myYellow">Partner</a>
                <a href="/" class="mr-5 text-myGray hover:text-myYellow transition duration-200 border-b border-myGreen hover:border-myYellow">Investor</a>
            </nav>
        </div>
        <nav class="md:ml-auto flex flex-wrap flex-col uppercase items-center text-base justify-center fixed md:hidden w-screen h-screen bg-myGreen z-50 top-0 space-y-2 font-medium" x-show.transition.duration.400="isOpen">
            <svg @click="isOpen = false" class="absolute cursor-pointer top-7 right-6 h-6 w-6 fill-current text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            <a href="/" class="py-2 px-3 text-myGray hover:text-myYellow transition duration-200">Learn</a>
            <a href="/" class="py-2 px-3 text-myGray hover:text-myYellow transition duration-200">Categories</a>
            <a href="/" class="py-2 px-3 text-myGray hover:text-myYellow transition duration-200">Stories</a>
            <a href="/" class="py-2 px-3 text-myGray hover:text-myYellow transition duration-200">Partner</a>
            <a href="/" class="py-2 px-3 text-myGray hover:text-myYellow transition duration-200">Investor</a>
        </nav>
    </header>
    <div>
        {{ content }}
    </div>

    <!-- *Subscribtion -->
    <div class="py-24">
        <div data-aos="fade-up" class="bg-myGreen rounded-lg relative w-10/12 md:w-6/12 mx-auto object-cover shadow-xl">
                <img class="  object-center w-full h-full absolute" src="./img/subscribe-bg.png" alt="background">
                <div class="py-10 w-11/12 sm:w-8/12 mx-auto flex flex-col items-center">
                    <h1 class=" transform z-20 text-white text-center font-medium text-xl">Subscribe New Job</h1>
                    <h2 class=" transform z-20 text-myGray text-center font-medium text-sm mt-2">We promise never send you a spam</h2>
                    <div class="mt-8 w-full relative flex flex-col lg:flex-row justify-center items-center space-y-3 lg:space-y-0">
                        <input class="font-medium focus:outline-none w-11/12 sm:w-full pl-5 pr-5 lg:pr-32 py-2 rounded-lg"  placeholder="Type your email address" type="text">
                        <button class="text-myGold bg-myYellow rounded-full lg:absolute px-10 py-2 -right-10">Count Me In</button>
                    </div>
                </div>
        </div>
    </div>

    <!-- AOS Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>